.btn
  box-sizing border-box
  width 100%
  outline none
  border none
  border-radius 10px
  background-color $curious-blue
  color $white
  text-decoration none
  cursor pointer
  transition all 0.4s ease-in

  &:hover
    background-color $cerulean

  &--type-1
    height 60px
    font(1.5em, 1, 700, uppercase)

  &--type-2
    height 80px
    font(1.9375em, 1, 700, uppercase)
