.features
  padding-bottom 50px

  @media $desktop
    min-height 1100px
    background transparent url("../img/bg-features.png") 50% 100% no-repeat
    background-size 1920px 998px

  &__hgroup
    position relative
    margin-bottom 20px
    padding-left 65px

    @media $desktop
      margin-bottom 50px

  &__item
    position relative
    padding 25px 0
    padding-left 95px
    max-width 500px

  &__icon
  &__element
    position absolute
    top 50%
    left 0

    transform translateY(-50%)

  &__icon
    left 15px
