.reviews
  position relative
  color $mine-shaft

  @media $desktop
    margin-top -300px

  &__title
    margin-bottom 60px
    padding-left 65px
    max-width 380px

    @media $desktop
      padding-left 530px

  &__hgroup
    position relative

  &__element
    position absolute
    top 50%
    left 0
    transform translateY(-50%)

    @media $desktop
      left 460px

  &__name
    font(1.5em, 1.2, 700, uppercase)

  &__city
    margin-bottom 20px
    font(1.5em, 1.2, 700)

  &__text
    font(1.25em, 1.2, 400)

  &__wrapper
    @media $desktop
      display flex
      flex-direction row
      justify-content space-between

  &__block
    &--2
      box-sizing border-box
      padding-right 10px
      padding-bottom 60px
      padding-left 20px
      width 100%

      @media $desktop
        padding 0 65px
        padding-bottom 90px
        min-width 730px

  &__image
    position relative
    top -200px
    left -25%
    z-index 15
    display none

    @media $desktop
      display block
