.speed
  overflow hidden
  padding 20px 0
  background transparent url("../img/bg-speed.png") 50% 0 no-repeat
  background-size 1920px 680px

  &__image
    display flex
    justify-content center
    height 159px

  &__hgroup
    position relative
    padding-left 65px

  &__text
    padding-left 65px

  &__element
    position absolute
    top 0
    left 0

  &__title-1
    margin-bottom 10px
    width 570px

  &__title-2
    position relative
    z-index 5
    margin-bottom 20px

  &__wrapper
    display flex
    flex-direction row

  &__inner
    position relative

    &::before
      position absolute
      top -20px
      left -35px
      z-index 5
      display block
      width 97px
      height 97px
      background transparent url("../img/bg-disc.svg") 0 0 no-repeat
      background-size 97px 97px
      content ""

  &__text-1
    margin-bottom 2px

  &__text-2
    margin-bottom 10px

  &__block
    &--1
      position relative
      padding-top 60px

      &::after
        position absolute
        bottom 30px
        left -30px
        display block
        width 792px
        height 365px
        background transparent url("../img/image-speed-woman.png") 0 0 no-repeat
        background-size 792px 365px
        content ""

    &--2
      box-sizing border-box
      padding 40px 120px
      min-width 590px
      width 590px
      height 590px
      background transparent url("../img/bg-form.svg") 0 0 no-repeat
      background-size 590px 590px
