.speed
  overflow hidden
  padding 20px 0

  background transparent url("../img/bg-speed.png") calc(50% + 170px) -160px no-repeat
  background-size 1920px 680px

  @media $desktop
    background-position 50% 0

  &__image
    display flex
    justify-content center

    img
      width 200px
      height 106px

      @media $desktop
        width auto
        height auto

  &__hgroup
    position relative
    padding-left 65px

  &__text
    padding-left 65px

  &__element
    position absolute
    top 0
    left 0

  &__title-1
    margin-bottom 10px
    max-width 570px

    @media $desktop
      width 570px

  &__title-2
    position relative
    z-index 5
    margin-bottom 20px

  &__wrapper
    display flex
    flex-direction column
    align-items center

    @media $desktop
      flex-direction row

  &__inner
    position relative

    &::before
      position absolute
      top -20px
      left -35px
      z-index 5
      display block
      width 97px
      height 97px
      background transparent url("../img/bg-disc.svg") 0 0 no-repeat
      background-size 97px 97px
      content ""

  &__text-1
    margin-bottom 2px

  &__text-2
    margin-bottom 10px

  &__block
    &--1
      margin-right auto

      padding-top 30px
      min-height 380px

      @media $desktop
        margin-bottom 240px
        padding-top 60px

    &--2
      position relative
      box-sizing border-box
      padding 40px 120px
      min-width 590px
      width 590px
      height 590px
      background transparent url("../img/bg-form.svg") 0 0 no-repeat
      background-size 590px 590px

      &::after
        position absolute
        top -270px
        left 50%
        display block
        width 528px
        height 244px
        background transparent url("../img/image-speed-woman.png") 0 0 no-repeat
        background-size 528px 244px
        content ""
        transform translateX(-50%)

        @media $desktop
          top auto
          bottom 0
          left -680px
          width 792px
          height 365px
          background-size 792px 365px
          transform none
