.text
  color $dove-gray
  font(1.5em, 1.2, 400)

  &--form-1
    color $black
    font(1.75em, 1.2, 700, uppercase)

  &--form-2
    color $black
    font(1.5em, 1.2, 400, uppercase)

  &--form-3
    color $mine-shaft
    font(1.875em, 1.2, 700, uppercase)

  &--form-4
    color $tundora
    font(1.5em, 1.2, 700, uppercase)

  &--review
    color $mine-shaft
    font(1.25em, 1.2, 400)
