.title
  font(3.25em, 1.2, 700, uppercase)

  &--adv-1
    color $black
    font(3em, 1.2, 700, uppercase)

  &--adv-2
    color $black
    font(5.1875em, 1.2, 700, uppercase)

  &--pear
    color $pear
