@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"), local("robotoCondensed-Regular"), url("../fonts/robotocondensed.woff2") format("woff2"), url("../fonts/robotocondensed.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url("../fonts/robotocondensedbold.woff2") format("woff2"), url("../fonts/robotocondensedbold.woff") format("woff");
}
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-size: 100%;
}
body,
input,
button {
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
}
body,
figure,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
figure,
ul {
  padding: 0;
}
ul {
  list-style: none;
}
.btn {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #28a7e1;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.btn:hover {
  background-color: #0293d4;
}
.btn--type-1 {
  height: 60px;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1;
  text-transform: uppercase;
}
.btn--type-2 {
  height: 80px;
  font-weight: 700;
  font-size: 1.9375em;
  line-height: 1;
  text-transform: uppercase;
}
.container {
  padding: 0 10px;
}
@media (min-width: 1110px) {
  .container {
    margin: auto;
    padding: 0 30px;
    max-width: 1110px;
  }
}
.features {
  padding-bottom: 50px;
}
@media (min-width: 1110px) {
  .features {
    min-height: 1100px;
    background: transparent url("../img/bg-features.png") 50% 100% no-repeat;
    background-size: 1920px 998px;
  }
}
.features__hgroup {
  position: relative;
  margin-bottom: 20px;
  padding-left: 65px;
}
@media (min-width: 1110px) {
  .features__hgroup {
    margin-bottom: 50px;
  }
}
.features__item {
  position: relative;
  padding: 25px 0;
  padding-left: 95px;
  max-width: 500px;
}
.features__icon,
.features__element {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.features__icon {
  left: 15px;
}
.form__input,
.form__input-1,
.form__input-2 {
  box-sizing: border-box;
  margin-bottom: 15px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  color: #222;
  text-decoration: none;
}
.form__input--type-1,
.form__input-1--type-1,
.form__input-2--type-1,
.form__input--type-1b,
.form__input-1--type-1b,
.form__input-2--type-1b {
  padding: 0 15px;
  height: 60px;
}
.form__input--type-1,
.form__input-1--type-1,
.form__input-2--type-1 {
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1;
  text-transform: uppercase;
}
.form__input--type-1b,
.form__input-1--type-1b,
.form__input-2--type-1b {
  font-weight: 700;
  font-size: 1.875em;
  line-height: 1;
  text-transform: uppercase;
}
.form__input--type-2,
.form__input-1--type-2,
.form__input-2--type-2,
.form__input--type-2b,
.form__input-1--type-2b,
.form__input-2--type-2b {
  padding: 0 25px;
  height: 80px;
}
.form__input--type-2,
.form__input-1--type-2,
.form__input-2--type-2 {
  font-weight: 700;
  font-size: 1em;
  line-height: 1;
  text-transform: uppercase;
}
.form__input--type-2b,
.form__input-1--type-2b,
.form__input-2--type-2b {
  font-weight: 700;
  font-size: 3em;
  line-height: 1;
  text-transform: uppercase;
}
.form__input:focus,
.form__input-1:focus,
.form__input-2:focus {
  font-weight: 700;
}
.form__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form__input-1 {
  margin-right: 15px;
  width: 60%;
}
.form__input-2 {
  width: 40%;
}
.order {
  padding-top: 40px;
  background-color: #cddc39;
}
@media (min-width: 1110px) {
  .order {
    position: relative;
    z-index: 10;
    background: #aaa39d url("../img/image-order.png") 50% 0 no-repeat;
    background-size: auto 100%;
  }
}
@media (min-width: 1110px) {
  .order::before {
    position: absolute;
    bottom: 430px;
    left: 50%;
    z-index: -5;
    display: block;
    width: 1920px;
    height: 896px;
    background: transparent url("../img/image-reviews.png") 0 0 no-repeat;
    background-size: 1920px 896px;
    content: "";
    transform: translateX(-50%);
  }
}
.order__hgroup {
  display: none;
}
@media (min-width: 1110px) {
  .order__hgroup {
    position: absolute;
    left: -400px;
    z-index: 5;
    display: block;
  }
}
.order__inner {
  position: relative;
}
.order__inner::before {
  position: absolute;
  top: -35px;
  left: -40px;
  z-index: -5;
  display: block;
  width: 168px;
  height: 168px;
  background: transparent url("../img/bg-disc.svg") 0 0 no-repeat;
  background-size: 168px 168px;
  content: "";
}
.order__title {
  margin-bottom: 10px;
}
.order__text {
  margin-bottom: 15px;
}
.order__fn {
  padding: 30px 0;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.2;
  text-transform: uppercase;
}
.order__wrapper {
  position: relative;
  text-align: center;
}
@media (min-width: 1110px) {
  .order__wrapper {
    margin-left: auto;
    max-width: 650px;
  }
}
.reviews {
  position: relative;
  color: #222;
}
@media (min-width: 1110px) {
  .reviews {
    margin-top: -300px;
  }
}
.reviews__title {
  margin-bottom: 60px;
  padding-left: 65px;
  max-width: 380px;
}
@media (min-width: 1110px) {
  .reviews__title {
    padding-left: 530px;
  }
}
.reviews__hgroup {
  position: relative;
}
.reviews__element {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
@media (min-width: 1110px) {
  .reviews__element {
    left: 460px;
  }
}
.reviews__name {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.2;
  text-transform: uppercase;
}
.reviews__city {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.2;
}
.reviews__text {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.2;
}
@media (min-width: 1110px) {
  .reviews__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.reviews__block--2 {
  box-sizing: border-box;
  padding-right: 10px;
  padding-bottom: 60px;
  padding-left: 20px;
  width: 100%;
}
@media (min-width: 1110px) {
  .reviews__block--2 {
    padding: 0 65px;
    padding-bottom: 90px;
    min-width: 730px;
  }
}
.reviews__image {
  position: relative;
  top: -200px;
  left: -25%;
  z-index: 15;
  display: none;
}
@media (min-width: 1110px) {
  .reviews__image {
    display: block;
  }
}
.speed {
  overflow: hidden;
  padding: 20px 0;
  background: transparent url("../img/bg-speed.png") calc(50% + 170px) -160px no-repeat;
  background-size: 1920px 680px;
}
@media (min-width: 1110px) {
  .speed {
    background-position: 50% 0;
  }
}
.speed__image {
  display: flex;
  justify-content: center;
}
.speed__image img {
  width: 200px;
  height: 106px;
}
@media (min-width: 1110px) {
  .speed__image img {
    width: auto;
    height: auto;
  }
}
.speed__hgroup {
  position: relative;
  padding-left: 65px;
}
.speed__text {
  padding-left: 65px;
}
.speed__element {
  position: absolute;
  top: 0;
  left: 0;
}
.speed__title-1 {
  margin-bottom: 10px;
  max-width: 570px;
}
@media (min-width: 1110px) {
  .speed__title-1 {
    width: 570px;
  }
}
.speed__title-2 {
  position: relative;
  z-index: 5;
  margin-bottom: 20px;
}
.speed__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1110px) {
  .speed__wrapper {
    flex-direction: row;
  }
}
.speed__inner {
  position: relative;
}
.speed__inner::before {
  position: absolute;
  top: -20px;
  left: -35px;
  z-index: 5;
  display: block;
  width: 97px;
  height: 97px;
  background: transparent url("../img/bg-disc.svg") 0 0 no-repeat;
  background-size: 97px 97px;
  content: "";
}
.speed__text-1 {
  margin-bottom: 2px;
}
.speed__text-2 {
  margin-bottom: 10px;
}
.speed__block--1 {
  margin-right: auto;
  padding-top: 30px;
  min-height: 380px;
}
@media (min-width: 1110px) {
  .speed__block--1 {
    margin-bottom: 240px;
    padding-top: 60px;
  }
}
.speed__block--2 {
  position: relative;
  box-sizing: border-box;
  padding: 40px 120px;
  min-width: 590px;
  width: 590px;
  height: 590px;
  background: transparent url("../img/bg-form.svg") 0 0 no-repeat;
  background-size: 590px 590px;
}
.speed__block--2::after {
  position: absolute;
  top: -270px;
  left: 50%;
  display: block;
  width: 528px;
  height: 244px;
  background: transparent url("../img/image-speed-woman.png") 0 0 no-repeat;
  background-size: 528px 244px;
  content: "";
  transform: translateX(-50%);
}
@media (min-width: 1110px) {
  .speed__block--2::after {
    top: auto;
    bottom: 0;
    left: -680px;
    width: 792px;
    height: 365px;
    background-size: 792px 365px;
    transform: none;
  }
}
.text {
  color: #666;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.2;
}
.text--form-1 {
  color: #000;
  font-weight: 700;
  font-size: 1.75em;
  line-height: 1.2;
  text-transform: uppercase;
}
.text--form-2 {
  color: #000;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.2;
  text-transform: uppercase;
}
.text--form-3 {
  color: #222;
  font-weight: 700;
  font-size: 1.875em;
  line-height: 1.2;
  text-transform: uppercase;
}
.text--form-4 {
  color: #444;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.2;
  text-transform: uppercase;
}
.text--review {
  color: #222;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.2;
}
.title {
  font-weight: 700;
  font-size: 2em;
  line-height: 1.2;
  text-transform: uppercase;
}
@media (min-width: 1110px) {
  .title {
    font-weight: 700;
    font-size: 3.25em;
    line-height: 1.2;
    text-transform: uppercase;
  }
}
.title--adv-1 {
  color: #000;
  font-weight: 700;
  font-size: 3em;
  line-height: 1.2;
  text-transform: uppercase;
}
.title--adv-2 {
  color: #000;
  font-weight: 700;
  font-size: 5.1875em;
  line-height: 1.2;
  text-transform: uppercase;
}
.title--pear {
  color: #28a7e1;
}
@media (min-width: 1110px) {
  .title--pear {
    color: #cddc39;
  }
}
.visually-hidden {
  display: none;
}
